/* font import */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

 /* Common styles */


  /* Header styles */
  header{
    background-color: rgba(255, 144, 14, 0.1);
  }

   /* Navbar */

  .nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
    padding: 50px 0;
  }

  .nav ul{
    display: flex;
    gap: 40px;
  }

  .nav ul li{
    list-style: none;
  }

  .nav ul li a{
    text-decoration: none;
    color: #424242;
    font-size: 1.125rem;
    font-weight: 500;
  }

  .nav h3{
    font-size: 2.81rem;
    color: #131313;
  }
  
   /* Banner */

   .banner-container{
    max-width: 1440px;
    margin: 0 auto;
    padding: 45px 0;
   }

   .banner-content{
    max-width: 870px;
    margin: 0 auto;
    text-align: center;
   }

   .banner-content h1{
    font-size: 4rem;
    color: #131313;
    margin-bottom: 25px;
   }

   .banner-content p{
    color: #727272;
    line-height: 26px;
    margin-bottom: 32px;
   }

   .btn{
    background-color: #FF900E;
    font-size: 1.25rem;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 20px 25px;
    margin-bottom: 50px;
   }

   .banner-img img{
    width: 100%;
   }

    /* Feature section */
    .feature-container{
      padding-top: 85px;
      max-width: 1328px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 80px;
      margin: 0 auto;
    }

    .feature-img{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 25px;
    }

    .feature-content{
      text-align: left;
    }

    .feature-content h3{
      font-size: 2.81rem;
      margin-bottom: 24px;
    }

    .feature-content .h3-first{
      color: #727272;
      font-weight: 500;
    }

    .feature-content .h3-2nd{
      color: #FF900E;
    }

    .feature-content p{
      color: #727272;
      line-height: 26px;
      margin-bottom: 32px;
    }

    


   