/* font import */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

 /* Header styles */
header{
    background-color: rgba(255, 144, 14, 0.1);
}

/* Navbar */

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
    padding: 50px 0;
}

.nav ul{
    display: flex;
    gap: 40px;
}

.nav ul li{
    list-style: none;
  }

.nav ul li a{
    text-decoration: none;
    color: #424242;
    font-size: 1.125rem;
    font-weight: 500;
}

.nav h3{
    font-size: 2.81rem;
    color: #131313;
}
  
/* Banner */

.banner-container{
    max-width: 1440px;
    margin: 0 auto;
    padding: 45px 0;
}

.banner-content{
    max-width: 870px;
    margin: 0 auto;
    text-align: center;
}

.banner-content h1{
    font-size: 4rem;
    color: #131313;
    margin-bottom: 25px;
}

.banner-content p{
    color: #727272;
    line-height: 26px;
    margin-bottom: 32px;
}

.btn{
    background-color: #FF900E;
    font-size: 1.25rem;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 20px 25px;
}

.banner-img img{
    width: 100%;
    margin-top: 50px;
}

/* Team section */
.team-container{
      max-width: 1328px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 80px;
      margin: 85px auto 130px;
}

.team-img{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 25px;
}

.team-content{
      text-align: left;
}

.team-content h3{
      font-size: 2.81rem;
      margin-bottom: 24px;
}

.team-content .h3-first{
      color: #727272;
      font-weight: 500;
}

.team-content .h3-2nd{
      color: #FF900E;
}

.team-content p{
      color: #727272;
      line-height: 26px;
      margin-bottom: 32px;
}

 /* Features */
.feature-container{
  display: flex;
  justify-content: space-between;
  gap: 146px;
  align-items: start;
  max-width: 1440px;
  margin: 0 auto;
}

.feature-content h3{
  font-size: 2.81rem;
  max-width: 468px;
  border-left: 5px solid #FF900E;
  padding-left: 22px;
  margin: 40px 0 24px;
}

.feature-content p{
  color: #727272;
  margin-bottom: 30px;
  max-width: 586;
}

.feature-content .card{
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  gap: 20px;
}

.card-item{
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.06);
  padding: 30px 42px 30px 30px;
}

.card-item h6{
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.card-item p{
  line-height: 26px;
}

/* .feature-img img{
  width: 100%;
} */

.feature-img button{
  padding: 45px 42px;
  margin-left: -100px;
  margin-top: -150px;
}

.feature-img .year{
  font-size: 4rem;
}

 /* Card Section */
 .fact-container{
  padding-top: 130px;
  max-width: 1440px;
  margin: 0 auto;
 }

 .fact-content{
  max-width: 542px;
 }

 .fact-content h3{
  font-size: 2.81rem;
  margin-bottom: 24px;
 }

 .fact-content p{
  color: #727272;
  line-height: 26px;
  margin-bottom: 100px;
 }

 .fact-card{
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
 }

 .card-box{
  text-align: center;
  border: 1px solid #FF900E;
  border-radius: 8px;
  padding: 45px 40px 60px;
 }

 .card-box h3{
  color: #424242;
  font-size: 2.81rem;
  margin-bottom: 5px;
  font-weight: 600;
 }

 .card-box h6{
  color: #727272;
  font-size: 1.25rem;
  font-weight: 600;
 }

  /* Sponsor Section */
.sponsor-container{
    padding-top: 180px;
    margin: 0 auto;
    max-width: 1440px;
}

.sponsor-content{
    text-align: center;
    max-width: 542px;
    margin: 0 auto;
}

.sponsor-content h3{
    font-size: 2.81rem;
    margin-bottom: 24px;
}

.sponsor-content p{
    color: #727272;
    line-height: 26px;
    margin-bottom: 50px;
}

.sponsor-item{
  display: flex;
  justify-content: center;
  gap: 155px;
  filter: grayscale(100%);
 }

 /* Footer section */
 .footer-container{
  max-width: 1440px;
  padding-top: 130px;
  margin: 0 auto;
 }

 .footer-content{
  background-color: #FFF4E7;
  padding: 40px 410px;
  margin-bottom: 230px;
 }

 .footer-content p{
  font-size: 1.25rem;
  color: #424242;
 }